body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', monospace
}

h1 {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 300%;
}

h2 {
    position: absolute;
    top: 210px;
    left: 80px;
    font-size: 200%;
}

p1 {
    position: relative;
    top: 80px;
    font-size: medium;
}

div {
    position: relative;
    top: 150px;
    left: 40px;
    font-size: medium;
}

h3 {
    position: absolute;
    top: 390px;
    left: 80px;
    font-size: 150%;
}